<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<h1>Music</h1>


<ul>
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/music']">Playlist</a></li>
</ul>

<div class="now_playing">
  <div class="card" style="width: 18rem;">
    <img class="Now-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Circle-icons-music.svg/1024px-Circle-icons-music.svg.png" alt="Card image cap">
    <div class="card-body">
      <!-- <h5 class="card-title">{{Title}}</h5>
      <h6 id="artist">{{Artist}}</h6> -->

    </div>
  </div>
</div>

<app-bottom></app-bottom>




